extends ../layouts/default

block content
	.container
		h1 About Modern Moto
		p Modern Motos is a image blog for modified vintage motorcycles.
		p I started building a vintage motorcycle a few years ago and realized there werent many sources for inspiration online other than going to individual shop web sites or getting help from friends. So I decided to create an online resource highlighting some of the best vintage bikes I have found online for others to use as inspiration.
		p Feel free to send me links to bikes you feel should be featured on this site. Please note I only post photos of modified vintage motorcycles (pre 1980) with modifications using parts that are well made and well designed.
		p The orange bike featured on this page is my 1972 Yamaha R5 which over the past couple years has been almost completely rebuilt. Here is a short list of modifications:
		ul
		li Rebuilt top end with 64mm HVC pistons
		li Vintage expansion chamber exhaust
		li K&amp;N Airbox
		li Rearsets
		li New electrical and halogen headlamp
		li Lowered front end
		li Tarrozi clip ons with vintage grips
		li O-ring chain
		li Centered tach with custom bracket, removed speedometer, added custom bracket for ignition
		li Removed fenders and added a custom taillight
		li New cables, brakes, and ignition
		li Powdercoated rims and engine covers
		p The other is a completely rebuilt 1980 Yamaha XS650 cafe/bratstyle.